@import "tailwindcss";

:root {
  --main-font: "MainFont", sans-serif;
  --background: #ffffff;
  --accent-color: #5fcfc3;
}

@theme {
  --color-accent-color: #5fcfc3;
}

@font-face {
  font-family: "MainFont";
  src: url("/fonts/Masvis.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* prevents layout shift */
}