@import "tailwindcss";

@font-face {
  font-family: 'Evolve';
  src: url('/font/Evolve.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tan';
  src: url('/font/Tan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-tan: 'Tan', sans-serif;
  --font-evolve: 'Evolve', sans-serif;
  
  /* Colors */
  --color-light-cyan: #f8feff;
  --color-light-blue-green: #e4f2f2;
  --color-dark: #221f23;
}

.heading{
  font-family: 'Tan', sans-serif;
}

.text {
  font-family: 'Evolve', sans-serif;
}

/* Color utility classes */
.bg-light-cyan {
  background-color: var(--color-light-cyan);
}

.bg-light-blue-green {
  background-color: var(--color-light-blue-green);
}

.dark {
  color: var(--color-dark);
}
